#svg-nav{
    position: absolute;
    z-index: 0;
}

 .navbar { 
    display: flex;
    background-color: #E9F7EF;
    width: 100%;
    height: 70px;
    align-items: center;
}

.navbar img {
    z-index: 2;
    width: 85px;
    height: auto;
    margin: 10px 0px;
}

.navbar input {
    z-index: 2;
    margin-left: auto;
    margin-right: 20px;

}



#header-img{
    width: 100%;
    height: auto;
}

body{
    margin: 0;
    background-color: #E9F7EF;

}


video{
    z-index: 2;
    width: 100%;
    object-fit: contain;
}

.container-header{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}


#container-hero{
    display: grid;
    grid-template-rows: 0.22fr 1fr auto 0.1fr ;
}

#container-productos{
    margin-top: 45px;
    width: 100%;
    grid-row:2/3;
    position: relative;
}

/* #container-productos #textus{
    position: absolute;
    z-index:1;
    text-align: center;
    width: 100%;
} */


#container-productos::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index:-1;
    background-image: url(/img/fondo-productos.jpg);
    background-size: cover;
    opacity: 0.7;
  }


  #usdiv{
    margin-top: 45px;
    width: 100%;
    grid-row:1/2;
    position: relative;
}

#usdiv #textus{
    position: absolute;
    z-index:1;
    text-align: center;
    width: 100%;
}
#usdiv::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index:-1;
    background-image: url(img/huerto.jpg);
    background-size: cover;
    opacity: 0.7;
  }


#container-productos{
    grid-row: 2/3;
    display: flex;
    justify-content:center ;
}

#container-testimonios{
    grid-row: 3/4;
}

.container_form{
    
    margin-top: 15px;
    grid-row: 4;
    width: 100%;

}
.container_form input{
     
    margin-bottom: 35px;
}

#usdiv>img{
    width: 100%;
}


.container_form>h1{
    text-align: center;
}

#cestas0{
    width: 50%;
    height: auto;
    margin-top: 50px;
    text-align: center;
     border: 4px solid brown; 
     border-radius: 85px;
     background:rgba(245, 232, 232, 0.2);
    margin-bottom: 75px;
}

#cestas1{
    height: auto;
    margin-top: 50px;
    text-align: center;
    border: 4px solid brown; 
    border-radius: 85px;
    background:rgba(245, 232, 232, 0.2);
    width: 50%;
    margin-bottom: 75px;
}


#cestas2{
    margin-top: 50px;
    height: auto;
    text-align: center;
    border: 4px solid brown; 
    border-radius: 85px;
    background:rgba(245, 232, 232, 0.2);
    width: 50%;
    margin-bottom: 75px;
}



#cestas0>img{
    width: 175px;
}

#cestas1>img{
    width: 175px;
}

#cestas2>img{
    width: 175px;
}

#cestas-general{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.bvista{
    grid-column: 1/3;
    margin: auto;
    display: flex;
    justify-content: center;
    grid-row: 4;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #d68a3e 5%, #42280c 100%);
	background-color:#d68a3e;
	border-radius:16px;
	border:1px solid #54381e;
    margin: auto;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:8px 19px;
	text-decoration:none;
    text-shadow:0px 1px 0px #4d3534;

}

.bañadir {
    position: relative;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #d68a3e 5%, #42280c 100%);
	background-color:#d68a3e;
	border-radius:16px;
	border:1px solid #54381e;
    display:flex;
    justify-content: center;
    width: 113px;
    margin: auto;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:8px 19px;
	text-decoration:none;
    text-shadow:0px 1px 0px #4d3534;
    
}
.bañadir:hover {
	background:linear-gradient(to bottom, #42280c 5%, #d68a3e 100%);
	background-color:#42280c;
}
.bañadir:active {
	position:relative;
	top:1px;
}


#testimonio-img{
    width:75px;
    border-radius: 75px;
}

 #testimonios-general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
#testimonios-general>h1{
    grid-column: 1/3;
    text-align: center;
}
#testimonios-general{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
}

#testimonio0{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    padding: 75px;
}

#testimonio1{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    padding: 75px;
}

#testimonio2{
    grid-column: 1/3;
    grid-row: 3;
    text-align: center;
    padding: 75px;
    position: relative;
}

#textus>h1{
    font-size:1.5rem;
    text-transform:uppercase;
    background:rgba(255, 255, 255, 0.2);
    align-self: center;
    border-radius: 95px;
}

#textus>p{
    font-size:18px ;
    background:rgba(255, 255, 255, 0.2);
    border-radius: 95px;
}
#textus>h2{
    font-size:1.5rem;
    text-transform:uppercase;
    background:rgba(255, 255, 255, 0.2);
    align-self: center;
    border-radius: 95px;
}

#container-testimonios{
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 75px;
}
#testimonios-general>h1{
    color: white;
    padding: 8px;
    border: 2px solid rgba(0, 0, 0, 0.534);
    border-radius: 45px;
    background:rgba(0, 0, 0, 0.527);
    margin: auto;
   
}

.benviar{
    text-align: center;
}

#form_registro>div{
    text-align: center;
    border: 2px solid rgba(118, 107, 219, 0.2);
    margin: 25px;
    border-radius: 45px;
    background:rgba(255, 255, 255, 0.2);
   
}

footer{
    height: 100px;
    color: white;
    background:rgba(17, 16, 16, 0.801);
    border-radius:10px;
    padding:2%;
    margin: 2%;
}

footer div:first-child,footer div:nth-child(2){
    display:flex;
    justify-content:space-between;
}

#svg-footer{
    z-index: -1;
    position: relative;

}

#bscroll {
    position:fixed;
    right:0;
    bottom:0;
    z-index: 99;
    padding: 0;
    cursor: pointer;
}

#bscroll img {
    width: 50px;
    margin: 15px;
}


@media screen and (min-width: 556px) and (max-width: 809px){
    
    

    #usdiv{
        height: 430px;
        grid-row-start:1;
        grid-row-end:2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    

    #usdiv::after{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index:-1;
        background-image: url(/img/huerto.jpg);
        border-radius: 25px;
        background-size: cover;
        opacity: 0.7;
      }

    #container-hero{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:auto auto 1fr ;
    }

    .container_form{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #container-productos{
        grid-column: 1;
        grid-row: 2/4;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;       
    }

    
    #container-testimonios{
        grid-row: 3/4;
        grid-column:2/3
    }
    .bañadir{
        display: flex;
    justify-content: center;
        margin-left: 0;

    }
    #cestas0{
        padding: 45px;
    }
    #cestas1{
        padding: 45px;
    }
    #cestas2{
        padding: 45px;
    }
    
}


@media screen and (min-width: 810px){

    
    #usdiv{
        height: 430px;
        grid-row:1/2;
       
    }

    
    .bañadir{
        margin-top: 100px;
    }

    #usdiv::after{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index:-1;
        background-image: url(/img/huerto.jpg);
        border-radius: 25px;
        background-size: cover;
        opacity: 0.7;
      }

    #container-hero{
        grid-template-rows:auto 0.7fr 0.5fr auto;
    }

    .container_form{
       grid-row: 4/5;
    }

    #container-productos{
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;       
    }

    
    #container-testimonios{
        grid-row: 3/4;
    }
    
    #cestas-general{
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 800px;
        align-content: space-between; 
    }
    
    #cestas0{
    width:33%;
        margin: 15px;
    }
    #cestas1{
     width:33%;
    margin: 15px;
    }
    #cestas2{
    width:33%;
    margin: 15px;
    }
    
    
}