
 .navbar { 
    display: flex;
    /* background-color: greenyellow; */
    width: 100%;
    height: 70px;
    align-items: center;
}

.navbar img {
    width: 85px;
    height: auto;
    margin: 10px 0px;
}

.navbar input {
    margin-left: auto;
    margin-right: 20px;

}
.container_form{
    grid-row-start: 3;
    border: 2px solid blue;
}

#header-img{
    width: 100%;
    height: auto;
}

body{
    margin: 0;
}


video{

    width: 100%;
    object-fit: contain;
}

.container-header{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}


#container-hero{
    display: grid;
    grid-template-rows:1fr 1fr;
}

#container-productos{
    grid-row-start: 1fr;
    
}

#productos-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    
}

#cestas0{
    text-align: center;
    border: 2px solid black;
    width: 275px;
}

#cestas1{
    border: 2px solid black;
    width: 275px;
}

#cestas2{
    border: 2px solid black;
    width: 275px;
}

#cestas0
>img{
    width: 175px;
}

#cestas1>img{
    width: 175px;
}

#cestas2>img{
    width: 175px;
}

#cestas-general{
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;


}

@media screen and (min-width: 556px) and (max-width: 768px){
    .container_form{
        border: 2px solid red;
    }
    
}


@media screen and (min-width: 768px){
    .container_form{
        border: 2px solid yellow;
    }
}